h2{
    color:orangered;
    text-align: centre;
    text-decoration:line-through;
    line-height: 2.5;
}

p{
    color: white;
    background-color: blue;
}

button{
    color: #ffffff;
    background-color: black;
}