*{
    font-family:"courier new";
}

h1{
    color: maroon;
}

#login{
    background-color: white;
}

#signup{
    background-color: rgb(165, 18, 18);
    color: white;
}

.follow{
    background-color: rgb(155, 20, 20);
    color: white;
}
.upvote{
    background-color: rgb(19, 126, 54);
    color: white;
}

nav ul li a {
    color: rgb(57, 201, 69);
    text-decoration: none;
}

p + h3 {
    text-decoration: underline;
}

.upvote + button{
    background-color: rgb(231, 119, 216);
    color: white;
}

div > input{
    background-color: rgb(218, 162, 204);
    color: white;
}

input[type="text"] {
     color: red;
}

input[type="password"] {
     color: yellow;
}
