#container{
    height: 300px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display:flex;
    flex-direction: row;
}

h1{
    text-align: center;
}

#container div{
    width: 300px;
    height: 100px;
  color: white;
  font-size: 1.5em;   
  text-align:center;
   
}