section{
    margin-top:100px;
}
div{
    height: 50px;
    width:200px;
    border: 2px solid black;
    text-align: center;
    background-color: lightblue;
    margin: 10px auto;
   
}

div:nth-of-type(2n){
    background-color: lightgreen;
}
div:nth-of-type(3n){
    background-color: lightcoral;
}

/*transform*/

#one{
transform: rotate(45deg);
}

#two{
    transform: scale(o.5);
    transform: scaleX(0.5);
    transform: scaleY(0.5);
}

#three{
    transform: translateY(100px);
    transform: translateX(-100px);
    transform : translate(100px, 50px);
}

#four{
    transform: skew(30deg);
    transform: skewX(30deg);
    transform: skewY(30deg);
}

#five{
    transform: rotate(40deg) translate(350px);
}

#six{
    border: none;
    background-color: rgb(72, 160, 72);
    box-shadow: 2px 2px 8px black;
}