div{
    height: 200px;
    border: 5px solid black;
    border-left-style: dotted;
    border-top: 5px solid black;
    border-radius: 15px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    padding-top:20px;
    padding-left: 20px;
    padding-right: 20px;    
    padding-bottom: 20px;
    padding: 30px 30px 30px 30px;
    margin:40px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin: 100px 20px 20px 100px;
    display: inline-block;
}
    
  
h1{
    border: 5px solid black;
    
    width: 50%;
}
button{
    border: 2px solid black;
    border-radius:10px;
    padding:15px;
    padding:5px 10px 5px 10px;
    

}

span{
    background-color:blueviolet;
    border:2px solid black;
    padding: 10px;
}

li{
    display:inline;
}